/*div#left_column {
    position: absolute;
    top: 0px;
    left: -100%;
}

div#page {
    position: absolute;
    left: 0%;
}

header .nav {
    position: absolute;
    width: 100%;
    top: 0px;
}*/

html, body {
    overflow-x: hidden;
}

div#page {
    webkit-transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    -webkit-transform: translate(0px, 0);
    transform: translate(0%, 0);
    z-index:   1;
    position: initial;
}

div#left_column {
    top: 0px;
    position: absolute;
    z-index:0;
    width: 80%;
}

a.responsive-menu-ico {
    position: absolute;
    top: 38px;
    z-index: 99999;
    left: 5px;
    }

a.responsive-menu-ico:before{
    content: "\f0c9";
    display: block;
    font-family: "FontAwesome";
    font-size: 3.1em;
    width: 100%;
    text-align: left;  
}





/*menu style*/

body {
    background: #DDD;
}

div#left_column {
    padding: 0 0 0 0;
}

.title_block {
    font: 600 15px/22px "Open Sans", sans-serif !important;
    border-top: 0px !important;
    border-bottom: 1px solid #FCFCFC !important;
    text-transform: none !important;
    padding: 4px 0px 11px 5px !important;
    margin-bottom: 0 !important;
    margin-top: 0px !important;
}
.title_block, .title_block > a {
    color: #7A7A7A !important;
    background: #DDD !important;
    text-shadow: 1px 1px 0px #FFFFFF;
}
.title_block:after {
    font-size: 15px !important;
    top: 8px !important;
}

#layered_block_left .layered_subtitle {
    padding-left: 5px;
}

#layered_block_left ul {
    padding-left: 12px !important;
    padding-right: 12px !important;
}